# Modeling our price estimator and Similarity finder

## Price estimator

Read the scrapped data from the scraper dir

In [4]:
import pandas as pd
data = pd.read_csv("test_data.csv",header=0,index_col=False)

Trasform the data and add one-hot encoding

In [34]:
data.rename({'price':'label'}, axis=1, inplace=True)
data['region'] = data['region'].apply(lambda x:  
                                      x.replace(" ", "") \
                                      .replace("/", "-"))
data

                     region    label  price_per_size  size  rooms  rent
0          Östermalm-Gärdet  2775000          119099  23.3    1.0  1071
1         VästraKungsholmen  2025000          117733  17.2    1.0   817
2                  Kärrtorp  1910000           68214  28.0    1.0  1689
3          Gärdet-Östermalm  2650000          101923  26.0    1.0  1324
4                 Östermalm  2570000          135263  19.0    1.0  1077
...                     ...      ...             ...   ...    ...   ...
19642             Östermalm  6150000          111818  55.0    2.0  1667
19643           NackaStrand  5050000           60843  83.0    2.5  4777
19644  NorraDjurgårdsstaden  5525000           85000  65.0    3.0  3179
19645        Vasastan-Atlas  5550000           88095  63.0    2.0  2955
19646     Vasastan-Torsplan  7130000          109692  65.0    2.0  3250

[19647 rows x 6 columns]

In [35]:
## One-hot encoding
regions = pd.DataFrame(data, columns=['region'])
dum_df = pd.get_dummies(regions, columns=["region"])
data_one_hot = data.join(dum_df)
data_one_hot = data_one_hot.drop(columns=['region'])
data_one_hot

,label,price_per_size,size,rooms,rent,region_Abrahamsberg,region_Abrahamsberg-Åkeslund,region_Akalla,region_Akallahöjden,region_Alby,...,region_Östermalm-vidÖstermalmstorg,region_ÖstermalmGärdet,region_ÖstermalmHjorthagen,region_ÖstermalmKarlaplan,region_ÖstermalmNedreGärdet,region_ÖstermalmVasastan,region_ÖstermalmnäraStrandvägen-Kaptensgatan14,region_Östertälje,region_ÖstraOrminge,region_ÖvreGärdet
0,2775000,119099,23.3,1.0,1071,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2025000,117733,17.2,1.0,817,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1910000,68214,28.0,1.0,1689,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2650000,101923,26.0,1.0,1324,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2570000,135263,19.0,1.0,1077,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,6150000,111818,55.0,2.0,1667,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19643,5050000,60843,83.0,2.5,4777,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19644,5525000,85000,65.0,3.0,3179,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19645,5550000,88095,63.0,2.0,2955,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19646,7130000,109692,65.0,2.0,3250,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0